@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 150px;
    --white: #fff;
    --background: hsl(233, 40%, 15%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: var(--background);
    color: var(--white);
}

.board {
    width: 50vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
  
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--white);
    font-weight: bolder;
    font-size: 8rem;
    cursor: pointer;
    
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.popup {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.985);
    color: var(--white);
    font-size: 5rem;
}

.popup button {
    font-size: 3rem;
    background-color: var(--white);
    border: 1px solid var(--background);
    padding: .3em .5em;
    cursor: pointer;
}

.popup button:hover {
    background-color: var(--background);
    color: var(--white);
    border-color: var(--white);
}

.popup.show {
    display: flex;
}

footer a{
    color: rgb(156, 136, 20);
    text-decoration: none;
}

footer a:hover{
    color: var(--white);
}