@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 120px;
    --mark-size: calc(var(--cell-size) * .9);
    --white: hsl(255, 100%, 100%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: rgb(19, 18, 53);
    color: var(--white);
}

.board {
    width: 50vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
}
  
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}